.THIS.clr{
       background-color:  #1a1a2f;
    color:white;
    width:100;
    padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
   
    
} 
.THIS.pdd{
     
}
.THIS.clr2{
    font-size: 12px;
}
.THIS.clr3
{
    text-align: right;
}
.THIS .clr4
{
   color:darkseagreen;
}