.THIS.gbc{
    font-size: 30px;
}
.THIS.clr{
    color: green;
}
.THIS.pdd
{
    
  padding-left: 10px;
}
.THIS.bld
{
    font: bold;
}
.THIS.gbe
{
    font-size: 19px;
   
}
.THIS.gbd{
    font-size: 18px;
     
}
.THIS.stsize
{
    font-size: 15px;
}