.THIS .widebutton {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    min-width: 140px;
    margin-right: auto; 
}
.THIS .mainBox{
    text-align:center;
    cursor:pointer;
}
.THIS .Title {
    
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    text-transform: none;
    background-color: #088756;
    color: #ffffff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .8s ease;
}
.THIS .Logo{
   width: 40%;margin-top: 5%;
}